* {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
}

.logo > img {
  width: 50px;
}


nav {
  background-color: #565656;
  color: white;
}


.product { /* Contenedor para los productos */
    border: 2px;
    border-style: solid;
    border-color: #D0CCCC;
    border-radius: 10px;

}

/* Cellphone */

@media (max-width: 640px) {

  header {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .menu {
    display: none;
  }

  .social {
    background-color: white;
    display: flex;
    flex-direction :row;
    align-items: center;
    list-style: none;
    padding-top: 5px;
    padding-bottom: 5px;
    justify-content: space-around;
    padding-right: 50px;
    position: fixed;
    bottom: 0;
    width: 100%;
  }

  .product > i {
         margin-top: 4px;
         margin-left: 45%;
     }

   h2{
    text-align: center;

  }

  main {
    display: flex;
    flex-direction: column;
  }


.hamburger{
  display: flex;
  justify-content: flex-end;
  padding-right: 10px;
}

}

/*tablet*/


@media (min-width: 641px) and (max-width: 1024px) {

  header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }

  h1 {
    text-align: center;
    padding-left: 80px;
  }

  main{
    padding-left: 30px;
    padding-right: 30px;


  }


    .product > i {
           margin-top: 4px;
           margin-left: 45%;
           padding-left: 10px;
           padding-right: 10px;
       }

  .hamburger{
    display: flex;
    justify-content: flex-end;
    padding-right: 10px;
  }


 h2{
  text-align: center;

}

 .social {
   background-color: white;
   display: flex;
   flex-direction: row;
   align-items: center;
   list-style: none;
   justify-content: space-around;
   padding-right: 50px;
   position: fixed;
   bottom: 0;
   width: 100%;
   border: 2px;
   border-top: 100%;
   border-bottom: 0;
   border-left: 0;
   border-right: 0;
   border-style: solid;
   border-color: #D0CCCC;
 }

  .menu {
    display: none;
  }


}

/*Other sizes*/

@media (min-width: 1025px) {

  header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
  h1 {
    text-align: center;
    padding-left: 200px;


  }
  main{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
  }

  .product{
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .menu {
    display: flex;
    justify-content: flex-end;
    flex-direction: row;  }

.product{
  display: flex;
  flex-direction: column;
  margin-left: 20px;
  margin-right: 20px;

}

.product > i {
           margin-top: 4px;
           padding-left: 10px;
           padding-right: 10px;
       }

  .hamburger{
    display: none;
  }



 .social {
   background-color: white;
   display: flex;
   flex-direction: row;
   align-items: center;
   list-style: none;
   justify-content: space-around;
   padding-right: 50px;
   bottom: 0;
   width: 100%;
   padding-top: 10px;
   border: 2px;
   border-top: 100%;
   border-bottom: 0;
   border-left: 0;
   border-right: 0;
   border-style: solid;
   border-color: #D0CCCC;
 }


 .menu > li {
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    list-style-type: none;
  }

}
